* {
  box-sizing: border-box;
}

body {
  background-color: #36a1d4;
  color: white;
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  z-index: 10;
}

.logo {
  color: #ffac4a;
}

a {
  margin: 0 0 0 25px;
  text-decoration: none;
  color: white;
}

.social-links {
  position: fixed;
  bottom: 0px;
  left: 50px;
  right: auto;
  z-index: 11;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.social-links a {
  margin-bottom: 15px;
  color: #ffac4a;
}

main {
  width: 100%;
  max-width: 1600px;
  margin: 0px auto;
  min-height: 100vh;
}

.landing-section {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

section {
  margin: 0 auto;
  max-width: 1000px;
  min-height: 100vh;
}

.landing-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

img {
  width: 300px;
  margin-left: 25px;
  border-radius: 100%;
  box-shadow: 5px 5px 8px 3px rgba(5, 5, 5, 0.3);
  background-color: rgba(5, 5, 5, 0.3);
}

.landing-info h1,
h3 {
  margin: 0;
}

hr {
  width: 100%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(255, 255, 255, 0.75),
    rgb(255, 255, 255)
  );
}

.job-title {
  color: #ffac4a;
  font-weight: bold;
  font-size: larger;
}

.name {
  color: #ffac4a;
  font-size: 50px;
  margin: 0;
}

@media (max-width: 1200px) {
  main {
    width: 800px;
  }
}
